extends ../home/home

block append head
  script
    include register.js

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.title Registration

        h2#error.error-box #{error.msg}

        if !error.msg
          // register form
          div.field-container

            div.field-input
              label(for='username') Username:
              input#name.field-input(type='text', placeholder=' [username]' name='username')
            div.field-input
              label(for='email') Email:
              input#email(type='email', placeholder=' [you@this.domain]' name='email')
            div.field-input
              label(for='pw') Password:
              input#pw(type='password' name='password' placeholder=' [secret]')
            div.field-input
              label(for='pw2') &#x21D1;Confirm:
              input#pw2(type='password' name='confirmPassword' placeholder=' [secret x 2]')

            div.center-content
              button#submit.btn.btn-primary(type='submit') Sign up
              a#login.btn.btn-primary(href='/login') Login
