extends ../root/layout

block append scripts
    script
        include profile.js

block content
    .main.container
        h1.title Profile

        h2.display-4.m-b-2 #{message}

        div#main.main-content
            div#username Username: #{user.username}

                button#editUsername Update
            div#email Email: #{user.email}

                button#editEmail Update
            div#created Date Joined: #{user.createdAt}
            div#updated Last Updated: #{user.updatedAt}
            div#lastLogin Last Login: #{user.lastLogin}
