html, body {height:100%;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center; vertical-align:bottom;}

* {-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none; -webkit-user-drag:none;-moz-user-drag:none;-ms-user-drag:none;-o-user-drag:none;user-drag:none;}

.ball,
.ball b,
.crate,
.ground {box-sizing:border-box;}

.ball {display:inline-block; width:3em; height:3em; border-radius:100%; border:.4em solid; color:#dc3132; position:relative;}
.ball b {display:block; width:100%; border:.2em solid; border-radius:.2em;}

.ball {padding:.4em 0;}
.ball > div {width:100%; height:100%; position:relative;}
.ball b {position:absolute; left:100%; top:50%;margin-top:-.2em; margin-left:.45em;}
.ball b:first-child,
.ball b:last-child {margin-left:.3em;}
.ball b:first-child {top:0;}
.ball b:last-child {top:auto;margin-top:auto;bottom:0;margin-bottom:-.2em;}
.crate {display:inline-block; width:3em; height:3em; border:.4em solid #30aebf; border-radius:.15em;}
.ground {display:inline-block; width:12em; border:.2em solid; color:#8cc924; border-radius:.15em;}