<!DOCTYPE html>

html
    block head
        title David Specht Demo
        block scripts
           script
               include jquery-3.3.1.min.js
        block styles
            style
                include layout.css
        block links
            link(rel='icon' type='image/x-icon' href='/mushroom64.ico')
    body
        include ./navbar.pug
        block content

        block canvas

        block footer
        include ./footer.pug