body {
    font-family: "Courier";
    background-image: linear-gradient(to right, white, black 90%);
    height:  98vh;
    min-width: max-content;
    margin: 0;
}

button {
    font-family: "Courier", "SansSerif";
}

.title {
    font-size: 3em;
    max-width: 15em;
    background: white;
    padding: 0.4em;
    margin: auto;
    border: 0.1em solid black;
    border-radius: 1em;
    text-align: center;
}

.main-content {
    max-width: 30em;
    margin: auto;
    margin-top: 2em;
    min-width: max-content;
    background-color: white;
    padding: 8em;
    border: 0.1em solid black;
    border-radius: 2em;
    min-height: 20em;
}

.center-content {
    display:flex;
    justify-content:center;
    align-items:flex-end;
    width:100%;
    left: 50%;
    margin: 0% -50% 0% 0%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 75%;
}

a.navbar-btn {
    display: inline-block;
    padding:0.5em 1.5em;
    margin:0 0.4em 0.4em 0;
    border:0.16em solid black;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:black;
    text-shadow: 0 0.08em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: white;
    -webkit-text-stroke: 1px black;
    font-size: 2em;
}
a.navbar-btn:hover {
    border-color: green;
}

.navbar-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: max-content;
}

.field-input {
    float: right;
    margin: auto;
}

.field-input > label {
    font-size: 2.5em;
    font-weight: bold;
    margin: auto;
}

.field-container {
    max-width: 40em;
    min-height: 10em;
    background: white;
    padding: 2em 7em 7em 2em;
    margin: auto;
    border: 0.1em solid black;
    border-radius: 1em;
    height: 15em;
    position: relative;
}

.error-box {
    opacity: 0;
    max-width: 30em;
    background: white;
    padding: 0.5em;
    margin: 0.2em auto;
    border: 0.1em solid black;
    border-radius: 1em;
    text-align: center;
    color: red;
}

.show-error {
    animation: showError 1s linear;
    animation-fill-mode: forwards;
}

.hide-error {
    animation: hideError 1s linear;
    animation-fill-mode: forwards;
}

.btn.btn-primary {
    display:inline-block;
    padding:0.3em 1.2em;
    padding: 1em 2em;
    border:0.16em solid darkgreen;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:black;
    background-color:white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em;
}


.btn.btn-primary:hover{
    border-color: darkgreen;
}

.btn.btn-primary:active{
    border-color: rebeccapurple;
}

#matter-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

input {
    font: 400 1.7em Courier;
    -webkit-appearance: textfield;
    background-color: white;
    cursor: text;
    border: 0.04em dashed black;
    padding: 0.2em 0.04em 0.04em;
}


@media all and (max-width:30em){
     a.navbar-btn{
        display:block;
        margin:0.4em auto;
    }
}

@keyframes showError {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes hideError {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

