block append head
    script
        include root.js

block navbar
    - var userDisplay = user;
    div#navbar.navbar-center
        ul
            a(href='/home')#home_nav.navbar-btn Home
            if userDisplay
                a(href='/profile')#profile_nav.navbar-btn Profile
                a(href='/logout')#logout_nav.navbar-btn Logout
            a(href='/about')#about_nav.navbar-btn About
