extends ../home/home

block append head
  script
    include login.js

block content
    .main.container
      .row
        .col-md-6.col-md-offset-3
          if !user
            h1.title Log In

            // login form
            
            h2#error.error-box #{error}

            div.field-container
              div.field-input
                label(for='username') Username:
                input#name.form-control(type='text', placeholder=' [your moniker here]' name='username')
              div.field-input
                label(for='pw') Password:
                input#pw.form-control(type='password' placeholder=' [our little secret]' name='password')
              div.center-content
                button.btn.btn-primary(type='submit') Submit
                a(href='/register').btn.btn-primary Register
          else
            h2.title You are already logged in!
