extends ../root/layout

append head
    //script(src='/extra script would go here')

block content
  h1.title Home

  div#main.main-content
    - var greeting = 'Hi ';
    - var info = 'Please login!'

      if user
        - greeting += user.username + '!'
        - info = "You're in here."

      div.home-greeting #{greeting}
      div.info #{info}

      div.center-content
        if user
          a.btn.btn-primary(id='profile' href='/profile') Profile
        else
          a.btn.btn-primary(id='login' href='/login') Log In