<div style="color: red; font-size:100px; font-family: Helvetica; -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;">404 Not Found</div>
<table style="width:100%; font-size:100px; display:block">
  <tr>
    <td>🍆</td>
    <td>💦</td>
    <td>💯</td>
    <td>🤔</td>
  </tr>
</table>
