extends ../root/layout

block append scripts

block content
    .main.container
        h1.title About

        h2.display-4.m-b-2 #{message}

        div#main.main-content

    div#threejs.threejs
        div#info
        a(href="http://threejs.org" target="_blank" rel="noopener") FBXLoader

        script
            include build/three.js
        script
            include inflate.min.js
        script
            include FBXLoader.js
        script
            include OrbitControls.js
        script
            include WebGL.js
        script
            include stats.min.js
        script
            include about.js